body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 96px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  flex: 1;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  margin-bottom: 36px;
  display: flex;
  gap: 160px;
}

.score {
  font-size: 32px;
  font-weight: 700;
  margin-top: 8px;
}

#rock {
  margin-right: 12px;
}
